body{
    background-color: black; 
    font-family: 'Rajdhani', sans-serif;
}

#wrapper{
    display: flex;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}

#logo-cont{
  width: 25%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#cloud-wrapper {
    width: 45%;
    height: 100vh;
    /*background: linear-gradient(0deg, #62a0d8 0%, #2178d1 50%, #085cb3 100%);*/
    background-color: black;
    padding: 1%;
    overflow: hidden;
    /* position: relative; */
    /* display: flex; */
    align-items: center;
  }
  
  .cloud {
    width: 600px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -100px;
  }

  #cloud-cont{
    position: absolute;
  }

  #cont{
    color: #363636;
    position: absolute;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    align-self: center;
    width: 100%;
  }

  #cont p{
    font-size: 2em;
    margin-top: 1em;
    color: white;
  }

  #explain{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
  }

  .titulo{
    font-size: 5em;
  }

  .subtitulo{
    font-size: 1.5em;
  }
  
  #cloud-base {
    top: 90px;
    height: 100px;
    filter: url(#filter-base);
    box-shadow: 200px 170px 19px 40px rgba(255, 255, 255, 0.9);
  }
  #cloud-back {
    top: 90px;
    height: 30px;
    width: 500px;
    filter: url(#filter-back);
    box-shadow: 200px 200px 10px 40px rgba(215, 215, 215, 0.3);
  }
  
  #cloud-mid {
    top: 80px;
    width: 580px;
    height: 35px;
    filter: url(#filter-mid);
    box-shadow: 210px 250px 28px 30px rgba(66, 105, 146, 0.2);
  }
  
  #cloud-front {
    top: 70px;
    width: 450px;
    height: 40px;
    left: -20px;
    filter: url(#filter-front);
    box-shadow: 210px 272px 30px 0px rgba(0, 0, 0, 0.4);
  }

  .blue{
    box-shadow: 200px 170px 19px 40px rgba(82, 121, 234, 0.9) !important;
  }

  .green{
    box-shadow: 200px 170px 19px 40px rgba(143, 234, 127, 0.9) !important;
    }

  #text{
    padding-top: 6em;
    padding-bottom: 6em;
    width: 70%;
  }

  strong{
    font-size: 2em;
  }

  #how{
    width: 50%;
  }


  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1600px){

  #text {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 87%;
  }
  #how {
    width: 43%;
    margin-left: 10em;
  }
  .titulo {
    font-size: 4em;
  }
  .subtitulo {
    font-size: 1.3em;
  }

}